<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ProjectModel -->
      <package
            uri="http://www.example.org/modelMDD2"
            class="modelMDD2.ModelMDD2Package"
            genModel="model/ProjectModel.genmodel"/>
   </extension>

</plugin>
