/.ConfDescriptionLabelProvider.java._trace
/.ConfDescriptionLabelProvider.xtendbin
/.ConfLabelProvider.java._trace
/.ConfLabelProvider.xtendbin
/ConfDescriptionLabelProvider.java
/ConfLabelProvider.java
